{% extends 'base.html' %}

{% block breadcrumb %}
 › Rezervările Mele 
{% endblock breadcrumb %}

{% block title %}Rezervările Mele - NestDrop{% endblock %}

{% block content %}
<div class="container">
    <h2>Rezervările mele</h2>
    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    <strong>{{ booking.space.name }}</strong> – {{ booking.date }} la {{ booking.time }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nu ai rezervări active momentan.</p>
    {% endif %}
</div>
{% endblock %}
