{# login.html #}
{% extends 'base.html' %}

{% block breadcrumb %}
 › Autentificare
{% endblock breadcrumb %}

{% block title %}Autentificare - NestDrop{% endblock %}
{% block content %}
<div class="container">
    <h2>Autentificare</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Autentifică-te</button>
    </form>
    <div class="link">
        <p>Nu ai cont? <a href="{% url 'register' %}">Înregistrează-te aici</a>.</p>
    </div>
</div>
{% endblock %}